body {
  text-align: center;
  background-image: url('../img/earphones.jpg');
  background-size: cover;
}

#main-title {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 72px;
  color: white;
}

#close-button {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: auto;
	-webkit-transition: filter 0.5s;
	transtition: filter 0.5s;
}

#close-button:hover {
	filter: drop-shadow(0px 0px 5px #fff);
	cursor: pointer;
}
